.img__view {
  display: flex;
  width: 100%;
}
.img__wrapper {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
}

.img__card {
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 300px;
  height: 350px;
  cursor: pointer;
}

.img__card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.img__card .img__description {
  display: flex;
  align-items: center;
  align-self: center;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.img__preview__wrapper {
  width: 48%;
  height: 70vh;
  float: right;
  margin-right: 20px;
}

.img__preview {
  position: fixed;
  width: 48%;
  height: 70vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.preview__close {
  /* position: relative; */
  float: right;
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.img__preview .image_tag {
  width: 100%;
  height: 85%;
  /* margin-top: 10px; */
  padding: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.search__bar {
  padding-left: 30px;
  padding-top: 30px;
}

.search__bar input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.search__bar button {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

.search__bar button:hover {
  background-color: #73ab75;
}

.preview__close img {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  right: 0px;
}

.preview__close img:hover {
  cursor: pointer;
}
